.tableHeader{
 	width:100%;
}

.postOuterContainer{
	border: 1px solid #000000;
}

	
.postInnerContainer{
	margin: 5px;
}

#clogMainContainer{
	margin: 5px;
}

#postsWrapper{
	clear: both;
	margin-top: 10px;
	margin-left: 0px;
}

#viewOptions{
	float: left;
	margin: 0px;
}

#posts{
	clear: both;
}

.clog_author{
	float: right;
	font-size:12px;
	clear:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.postOptionsPanel{
	float: left;
}

#noPostsLabel{
	clear:both;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12pt;
}

th.clogSortableTableHeader { 
    background-image: url(../images/bg.gif);     
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

th.clogSortableTableHeaderSortUp { 
    background-image: url(../images/asc.gif); 
}

th.clogSortableTableHeaderSortDown { 
    background-image: url(../images/desc.gif); 
}

#clogAuthorPager{
	float: right;
}

.content{
	clear: left;
	margin-top: 30px;
}

.comments{
	margin-top: 5px;
}

.cluetip-clog {
	padding: 10px;
	border: black solid 1px;
	background-color: white;
}

.clue-right-clog .cluetip-arrows {
  background-image: url(../images/darrowleft.gif);
}

.clue-left-clog .cluetip-arrows {
  background-image: url(../images/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}

.clue-top-clog .cluetip-arrows {
  background-image: url(../images/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}

.clue-bottom-clog .cluetip-arrows {
  background-image: url(../images/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

.cluetip-clog div#cluetip-close {
	text-align: right;
	margin: 0 5px 5px;
	color: #900;
}

.clog_comment {
	border: black solid 1px;
	padding: 10px;
	margin-top: 10px;
	overflow:auto;
	background-color: #FFFFEE;
}

.clog_comment_content {
	margin-bottom: 5px;
}

.clog_comment_date {
	font-style: italic;
	font-size: smaller;
}

#clog_toolbar_items{
	float: left;
}

#clog_search_bar{
	float: right;
}

.clog_search_result{
	margin-left: 5px;
	margin-top: 3px;
}

#clog_content table td { padding: 3px; }
#clog_content table tr.odd td {
	background-color: #FFFFC0;
}

#clog_autosaved_message {
	display: none;
	font-weight: bold;
}

#clog_author_table th div{
	margin-right: 15px;
}

/** top nav icons **/

#clog_toolbar_items a {
	background-repeat: no-repeat;
	padding-left: 18px;
}
.home {
	background-image: url(/library/image/silk/house.png);
}
.authors {
	background-image: url(/library/image/silk/group.png);
}
.my-clog {
	background-image: url(/library/image/silk/book.png);
}
.create-post {
	background-image: url(/library/image/silk/page_white_edit.png);
}
.permissions {
	background-image: url(/library/image/silk/application_view_detail.png);
}
.preferences {
	background-image: url(/library/image/silk/cog.png);
}
.recycle {
	background-image: url(/library/image/silk/bin_closed.png);
}
.public {
	background-image: url(/library/image/silk/world.png);
}

.clog_author_image_div {
	float: right;
	margin-left: 5px;
}

.clog_author_details_div {
	float: right;
}

.clog_post_title {
    clear: both;
}
