.tableHeader{
 	width:100%;
}

.postOuterContainer{
	border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.postInnerContainer{
	margin: 5px;
    padding-bottom: 5px;
}

#clog-posts-wrapper{
	clear: both;
	margin-top: 7px;
	margin-left: 0px;
	border-top: 1px solid #E0E0E0;
}

#posts{
	clear: both;
}

.clog-post-header {
    overflow: auto;
}

.clog-author{
	float: right;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.postOptionsPanel{
    margin-top: 5px;
}

.postOptionsPanel a {
	margin-right: 5px
}

.postOptionsPanel a i {
	font-size: 20px;
}

#noPostsLabel{
	clear:both;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12pt;
}

th.clogSortableTableHeader { 
    background-image: url(../images/bg.gif);     
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

th.clogSortableTableHeaderSortUp { 
    background-image: url(../images/asc.gif); 
}

th.clogSortableTableHeaderSortDown { 
    background-image: url(../images/desc.gif); 
}

.clog-content{
	clear: left;
	margin-top: 30px;
	border-bottom: 1px solid #E0E0E0;
    margin-bottom: 10px;
}
.clog-comments-header{
    margin-top: 15px;
    margin-left: 15px;
}

.clog-comments{
	margin: 5px 0px 5px 15px;
    display: none;
}

.clog-comments-hide {
    display: none;
}

.clog-comment {
	border: #E0E0E0 solid 1px;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	overflow: auto;
    background-color: #FAFAFA;
}

.clog_comment_content {
	margin-bottom: 5px;
}

.clog_comment_date {
	font-style: italic;
	font-size: smaller;
}

#clog_search_bar{
	float: right;
}

.clog_search_result{
	margin-left: 5px;
	margin-top: 3px;
}

#clog_content table td { padding: 8px; }
#clog_content table tr.odd td {
	background-color: #FFFFC0;
}

#clog_autosaved_message {
	display: none;
	font-weight: bold;
}

#clog-author-table tr:nth-child(even) {
	background-color: #E0E0E0;
}

#clog-author-table th div{
	margin-right: 15px;
}

/** top nav icons **/

.clog_author_image_div {
	float: right;
	margin-left: 5px;
}

.clog-photo {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    float: left;
    background-position: 50%;
    background-size: auto 100%;
    border-radius: 50%;
	margin-right: 5px;
}
.clog-photo-bigger {
    min-width: 64px;
    max-width: 64px;
    height: 64px;
}

#clog-author-profile {
	margin-top: 20px;
	margin-bottom: 10px;
	overflow: auto;
}

#clog-author-profile > span {
	margin-right: 10px;
}

.clog_author_image_div img {
    height: 50px;
}

.clog-post-title {
    float: left;
	vertical-align: middle;
	margin-left: 7px;
	margin-bottom: 4px;
}

.clog-post-title > span > a {
	text-decoration: none !important;
}

.clog_author_details_div {
	float: right;
}

#clog-group-fieldset {
    display: none;
}

.clog-draft-label {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

a.clog-draft-label:hover {
    text-decoration: none;
}

.clog-group-link {
    margin-top: 5px;
}

.clog-post {
    margin-bottom: 5px;
}

#clog-posts-total-wrapper {
    margin-top: 5px;
    font-size: larger;
	margin-right: 10px;
}

#clog-posts-total {
    margin-right: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}

#clog-body-toggle {
    display: none;
    margin-top: 10px;
}

#clog-body-toggle-label {
	margin-right: 10px;
}

.clog-body {
	border-top: 1px solid #E0E0E0;
	margin-left: 7px;
}

#clog-authors a {
	line-height: 18px;
}

.navIntraTool {
	li span.current a {
		background: unset !important;
	}
}
